@import "./variables.scss";

.attachment-parent {
  @include displayFlex;
  padding-bottom: 10px;
  padding-right: 23px;
  padding-left: 85px;
}
  .add-attachments,
  .audio-rec-component,
  .webcam-parent {
    @include attachmentStyle;
    justify-content: center;
    padding-bottom: 10px;
    
  }

  .attachment-text {
    padding-left: 10px;
  }

  .attachment-icon,
  .attachment-text {
    &:hover {
      cursor: $cursor-pointer;
    }
  }

  .files-upload {
    display: none;
  }


@media only screen and (max-width:$xl){

  .attachment-parent{
  .attachment-icon {
    font-size: 13px;
  }
  .attachment-text {
    padding-left: 3px;
    font-size: 13px;
  }
}
}

@media only screen and (max-width: $sm) {

  .attachment-parent {
    padding-right: 20px;
    padding-left: 75px;

    .attachment-icon {
      font-size: 12px;
    }
    .attachment-text {
      padding-left: 5px;
      font-size: 12px;
    }
  }
  .attachment-direction{
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    gap:15px;
    
  }
}

@media only screen and (max-width: 375px) {
  .attachment-parent {
    padding-left: 20px;

    .attachment-icon {
      font-size: 11px;
    }
    .attachment-text {
      font-size: 10px;
    }
  }
}
